<form #commentForm="ngForm" class="add_comment_panel">
    <div class="panel-body">
        <div class="form-group">
            <label for="comment_text" class="control-label"><h3><fa-icon [icon]="faComment" size="1x"></fa-icon> Say Something:</h3></label>
            <textarea rows="4" cols="12" class="form-control" name="comment_text" [(ngModel)]="comment.comment_text"
                #idControl="ngModel" placeholder="Enter Comment">
            </textarea>
        </div>
    </div>
    <button class="btn btn-primary" (click)="saveComment()">Submit</button>
</form>
