
<nav class ="nav nav-tabs justify-content-right navbar_grey">

    <!-- <a class ="nav-item nav-link" routerLinkActive="active" routerLink ="about">Log out</a> -->
    <button><app-logout-component></app-logout-component></button>
    <button class="nav-item nav-link" *ngIf="isUserLoggedIn" (click)="goToUserHomepage()">User Homepage</button>
    <button class="nav-item nav-link" *ngIf="isTrainerLoggedIn" (click)="goToTrainerHomepage()">Trainer Homepage</button>
    <button class="nav-item nav-link " *ngIf="isTrainerLoggedIn" (click)="goToPendingCommentsPage()">Pending Comments<span *ngIf="isTrainerLoggedIn" class="badge">{{commentArray.length}}</span></button>
    
</nav>
