/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.grey_panel {
    background-color : rgb(23, 23, 37);
    box-shadow: 0px 1px 1px black;
    padding : 0px;
    margin : 0px;
    width : 100%;
    border-radius: 2px;
}

.white_panel {
    background-color : rgb(82, 82, 82);
    box-shadow: 0px 1px 1px black;
    padding : 5px;
    margin : 3px;
    width : 100%;
    border-radius: 2px;
}

.transparent_panel {
    background-color : rgb(27, 27, 27);
    box-shadow: 0px 1px 1px black;
    padding : 0px;
    margin : 3px;
    width : 40%;
    height: 100%;
    border-radius: 2px;
}

.left_panel {
    background-color : rgb(82, 82, 82);
    box-shadow: 0px 1px 1px black;
    padding : 10px;
    margin-left : 24px;
    width : 100%;
    border-radius: 2px;
}

body {
    background-color : black;
    text-decoration-color: white;
    color : white;
    background-image: url('https://i.ytimg.com/vi/C1F2fxovEz0/maxresdefault.jpg');
    background-size : cover;
}

.image_size {
    width : 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 1px black;
}

.comment_size {
    width : 100%;
}

.justify_panel_left{
    padding-left : 20px;
}

.italics {
    font-style : italic;
    font-size : 50%;
    color : rgb(211, 211, 211);
}

.fill_height {
    height : 100%;
}

.cloud_component_background {
    border : 1px dotted grey;
    border-radius : 5px;
    width : 97%;
    margin-top : 10px;
}


.comment_content {
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
}

.comment_text {
    border : 1px solid lightgrey;
    border-radius : 5px;
    width : 100%;
    padding : 3px;
    margin-top : 5px;
    margin-bottom : 10px;
}

.navbar_grey{
    background-color: rgb(82, 82, 82);;
}

.add_comment_panel {
    padding : 5px;
    margin-left : 10px;
}

.text-container {
    margin : 1px;
    padding-left : 20px;
}

.awesome {
    padding: 40px;
}