<app-navbar></app-navbar>
<div class="row justify-content-center">
    <div class="col-10 grey_panel">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="row left_panel">
                    <app-trainer-home></app-trainer-home>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="cloud_component_background">
                    <app-cloud-component [data]="data"></app-cloud-component>
                    <form class="form-inline" (submit)="adWord()" *ngIf="isUserLoggedIn">
                        <div class="form-group mb-2">
                            <input class="form-control" placeholder="enter new word here " type="text" [(ngModel)]="word.word" name="word">
                        </div> 
                        <div class="form-group mb-2">
                            <input class="form-control btn btn-primary" type="submit" value="Send Word">
                        </div>                    
                    </form>                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <div class="row">
                    <div class="comment_size">
                        <app-comment-container></app-comment-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
